@model StockMarketAnalyzer.BO.Company

<div class="col-md-12" id="chartsDiv">
    <br />
    <div id="todayDecreaseChartContainer" class="col-md-3" style="height: 300px"></div>
    <div id="todayIncreaseChartContainer" class="col-md-3 col-lg-offset-1" style="height: 300px"></div>
    <div id="todayNoChangeChartContainer" class="col-md-3 col-lg-offset-1" style="height: 300px"></div>
</div>
