@model IEnumerable<StockMarketAnalyzer.BO.CompanyFeeds>

<div class="menu-heading hidden" id="companyFeedsDiv">

    <div class="col-md-12">
        @foreach (var item in Model)
        {

            <div class="bs-callout bs-callout-warning" id="callout-btn-group-tooltips">
                <a href="@item.Link">
                    <h4>@item.Title</h4>
                </a>
                <p>@item.Description</p>
                <p>@item.PubDate</p>
            </div>

        }

    </div>
</div>